/* Created by: MariaG
* Created on: April 25, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit3-04-HTML-FahrenheitCelsius
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: white;
  background-color: #ffc265;
  padding: 20px;
  text-align: center;
}

#td-one {
  width: 40%;
}

#td-two {
  width: 60%;
}

img {
  width: 100%;
}

#blue {
  background-color: #baeeff;
  margin-left: 30px;
  padding: 30px;
  margin-top: -90px;
}

#yellow {
  padding: 20px;
  background-color: #fdfcbb;
  margin-top: 20px;
  height: 140px;
}

#pink {
  padding: 30px;
  margin-left: 30px;
  background-color: #ffd9eb;
  margin-top: -70px;
}

#button {
  padding: 10px;
  background-color: #5f60bd;
  color: white;
  border: none;
}
